# Google API Key para usar o Gemini
GOOGLE_API_KEY=XXXXXX-XXXXXXXXXXXXXXXXXXXXXXX


# Caminho para o arquivo PDF a ser ingerido
PDF_PATH=document.pdf

# String de conexão com o PostgreSQL
CONNECTION_STRING=postgresql+psycopg://postgres:postgres@localhost:5432/rag

# Nome da collection no banco de dados
COLLECTION_NAME=document_vectors

# Configurações do modelo
EMBEDDING_MODEL=models/embedding-001
LLM_MODEL=gemini-2.0-flash-lite
TEMPERATURE=0

# Configurações de busca
SEARCH_K=10

# Configurações de chunking
CHUNK_SIZE=1000
CHUNK_OVERLAP=150
